.row-fluid.centered-content
  %p
    .separator5
    %h1
      Start mining for a cause!
    .separator10
    %p
      %a.row-fluid.btn.btn-big.btn-primary{ href: "/" }
        %i.fa.fa-download
        Download
    %p.row-fluid
      You need to have
      %a{ href: "http://java.com/en/download/index.jsp" } Java
      installed to run Donacoin
    .separator10
  .hr
  
-# java dl without damn toolbar? http://www.oracle.com/technetwork/java/javase/downloads/jre7-downloads-1880261.html
-# osx / mavericks: http://support.apple.com/kb/DL1572?viewlocale=en_US