.hr
.row-fluid.centered-content
  .separator30
  %h1
    Start donating for free!
  .separator10
  .row-fluid
    %a.row-fluid.btn.btn-big.btn-primary{ href: "http://uploads.makevoid.com/donacoin.jar" }
      %i.fa.fa-download
      Download
  .separator15
  .row-fluid
    You need to have
    %a{ href: "http://java.com/en/download/index.jsp" } Java
    installed to run Donacoin
  .separator30
  .separator15

-# java dl without damn toolbar? http://www.oracle.com/technetwork/java/javase/downloads/jre7-downloads-1880261.html
-# osx / mavericks: http://support.apple.com/kb/DL1572?viewlocale=en_US