%h2 Coins to Cause
%p
The Cause (ngo/project/association/team) will get money as a donation, Donacoin will convert coins mined to EUR/USD and donate to the charities. The donations are proportional to the amount of CPU/GPU power given, for the Cause you chose.
.separator10
.hr

%h2
  How does it works
  %span (Processing power to coins)
%p Crypto coins ( like Bitcoin, Litecoin, Dogecoin, Protoshares and others ) rewards people that give theirs cpu power to calculate a given algorythm.
%p
  There is no physical person or party giving you money. It's a set of distributed algorythms that agree on your output being valid, that validates the previous transactions (in blocks) and reward you with coins. You can read more about this by going to the
  %a{ href: "/guide" } guide
  section or
  %a{ href: "https://duckduckgo.com/?q=crypto+currencies+mining" } searching on the web
\.


%h2 Open source!

%p
  Donacoin is an open source project, the code should always be safe to run because can be checked by any programmer present in the world. You can look at the source of the
  %a{ href: "http://github.com/makevoid/donacoin" } application
  and
  %a{ href: "http://github.com/makevoid/donacoin_web" } website
  and contribute to it!
  Have a good time donating without directly spending money!


.hr



/
  comments...

  A level more: Managed mining?
  .separator10
  .hr
  %h2 Coins to Admins

  %p DonaCoin will be automatic some day, now it needs admins, admins are rewarded with some percentage (it should be lower than 2.9%, that is the standard credit-card transaction), becoming an
  %a{ href: "/admin" } admin
  is fairly simple, Read more about creating your DonaCoin cause and becoming an admin here:
  %a{ href: "/become_admin" } /Become_Admin

  %p Note: admins must be trusted people, you must know admins in real life, ideally any computer-nerd friend that you have can become an admin.