.row-fluid
  %h1 Causes

  %p List of causes:

  %section.causes
    - @causes.each do |cause|
      %h1
        %a{ href: "/causes/#{cause[:name]}" }
          = cause[:name]
      %p= cause[:active_miners]


