- cause_name = params # todo
- cause = {}
-# to_mhash
-# cause = CAUSES[cause_name]

%h1 Cause: #{"name of the cause from params: #{cause[:name]}"}

%p Brief cause text (\#{cause[:intro]})

%a.btn


%h3 More
%p More detailed infos cause text (\#{cause[:text]})