.row-fluid
  %h1 Causes

  %p List of causes:

  %section.causes
    - @causes.each do |cause|
      %h1
        %a{ href: "/causes/#{cause[:name]}" }
          = cause[:label]
      %p= cause[:desc]
      / TODO: %p= cause[:active_miners] || cause[:total_donations]



  %p Do you have a cause / project you want to register? Are you a charity/onlus/ngo?
  %p
    %a{ href: "/causes/register" } Register a Cause