.page.row-fluid.highlight
  .span7.page-left.blank
    .row-fluid
      %h1 Contacts
      .hr
      %p For more information on how Donacoin works or how to register a cause and how to get payments please contact:
      %p Always try to keep all your computer temperatures under 70° C. This is very recommended and will improve your system's life.
      .row-fluid
      %h3 Donacoin
      .hr
      %i.fa.fa-github-alt
      %a{ href: "http://github.com/makevoid/donacoin" } application 
      and
      %a{ href: "http://github.com/makevoid/donacoin_web" } website 
      are open source projects. 
      %p.highlight The core-team is composed by:
      %ul
      %li
        %a{ href: "http://github.com/makevoid" }      makevoid
      %li
        %a{ href: "http://github.com/virtuoid" }      Virtuoid
      %li
        %a{ href: "http://github.com/filipporetti" }  Kawabonga
      %li
        %a{ href: "http://github.com/wouldgo" }       wouldgo
  .span3.page-right.blank
    .row-fluid
      .row-fluid
        %h4.muted
          %i.fa.fa-angle-down.muted
          More about
        .hr
        = haml :_infos_main
        .separator15
