.row-fluid
  %h1 Contacts:

  %p For more information on how Donacoin works or how to register a cause and how to get payments please contact:

  %p
    Francesco Canessa -
    %a{ href: "mailto:makevoid@gmail.com" } makevoid@gmail.com


  %p
    or reach us by our
    %a{ href: "https://twitter.com/donacoin" } Twitter feed
    or
    %a{ href: "https://www.facebook.com/donacoin" } Facebook page


.row-fluid
  %p
    Donacoin
    %a{ href: "http://github.com/makevoid/donacoin" } application
    and
    %a{ href: "http://github.com/makevoid/donacoin_web" } website
    are open source projects, the core-team is composed by:

    %ul
      %li
        %a{ href: "http://github.com/makevoid" }      makevoid
      %li
        %a{ href: "http://github.com/virtuoid" }      Virtuoid
      %li
        %a{ href: "http://github.com/filipporetti" }  filipporetti
      %li
        %a{ href: "http://github.com/wouldgo" }       wouldgo
