.separator15
.row-fluid
  %h1 Guide
.row-fluid.willy
  .separator5
  %h4
    Brief intro on Donacoin, idea of donating without giving money
  .separator5
  Hardware safety: Monitor your temperature and keep it down
  .separator5
  Power consumption: Use efficient machine power, an inefficient machine (that consumes more electicty) should be not used to donate. We don't want to waste power or money on electricity, consider using standard donation if you have more electiciy cost than money you donate.
  .separator15
.row-fluid
  .separator5
  %h2
    %i.fa.fa-angle-down
    More advanced infos
.hr
.row-fluid
  %p e-coins mining and mining pools

  %p Mine solo with standard pc alone is not profitable, mining together for a cause can be! Make the big change together, run Donacoin!

  %p Main infos

  = haml :_infos_main
  .hr
  %h2 Lower fees than Paypal!
  %p Paypal is the most used donation "system" in the world, we aim to change that, his current fee (2.2% + 0.30$) is related to Credit Card processing fee, we use e-coins, there is no such thing in a distributed system. We aim to reach the 2% fee
