.row-fluid
  %h1 Guide

  %p Brief intro on Donacoin, idea of donating without giving money

  %p Monitor your temperature and keep it down

  %h2 More advanced infos:

  %p e-coins mining and mining pools

  %p Mine solo with standard pc alone is not profitable, mining together for a cause can be! Make the big change together, run Donacoin!

  %p Main infos:

  = haml :_infos_main