.row-fluid
  %h1 Guide

  %p Brief intro on Donacoin, idea of donating without giving money

  %p Hardware safety: Monitor your temperature and keep it down

  %p Power consumption: Use efficient machine power, an inefficient machine (that consumes more electicty) should be not used to donate. We don't want to waste power or money on electricity, consider using standard donation if you have more electiciy cost than money you donate.

  %h2 More advanced infos:

  %p e-coins mining and mining pools

  %p Mine solo with standard pc alone is not profitable, mining together for a cause can be! Make the big change together, run Donacoin!

  %p Main infos:

  = haml :_infos_main