
%h1
  Let your computer donate money for a Cause


%img{ src: "" } Screenshot

%p Start mining for a cause:


%h3 List of causes


.causes
  .cause
    %a{ href: "/causes/riotvan" }
      %p
        Support RiotVan
      %p
        RiotVan is an association that makes a magazine:

  .cause
    %a{ href: "/causes/onlus_borgo" }
      %p Support Onlus Borgo

      %p Onlus ...
      %p Onlus ... is starting new workshop activities, donate to buy learning materials and tools

  .cause
    %a{ href: "/causes/more" }
      %p Support ....

      %p Brief text....\
  .clear




%h2 More info:

%h3 Processing power to coins

%p BitCoin, Litecoin and other electronic coins ( or crypto currencies, how do you want to call them :) ) rewards people that give theirs cpu. A person giving you money? No. The protocol! Why? To remain "alive" (working). Read more about this here: <DuckDuckGo Search: crypto currencies mining>


%h3 Coins to Cause

/ %p Admin will convert the mined amount into

%p
  The Cause (ngo/project/association/team) will get money as a donation from us or from
  %a{ href: "/admin" } the admin
  managing the project


/
  A level more: Managed mining?

  %h3 Coins to Admins

  %p DonaCoin will be automatic some day, now it needs admins, admins are rewarded with some percentage (it should be lower than 2.9%, that is the standard credit-card transaction), becoming an
  %a{ href: "/admin" } admin
  is fairly simple, Read more about creating your DonaCoin cause and becoming an admin here:
  %a{ href: "/become_admin" } /Become_Admin

  %p Note: admins must be trusted people, you must know admins in real life, ideally any computer-nerd friend that you have can become an admin.



