!!!
%html
  %head
    %title DonaCoin - No-cost donations
    %link{ href: "/css/main.css", rel: "stylesheet" }
    
  %body
    %nav.row-fluid
      %ul
        %li
          %a{ href: "/download" } Download
        %li
          %a{ href: "/causes"   } Causes
        %li
          %a{ href: "/users"    } Users
        %li
          %a{ href: "/guides"   } Guides
    .content
      = yield