!!!
%html
  %head
    %title Donacoin - No-cost donations
    %meta{ name: "viewport", content: "width=device-width" }
    %link{ href: "/css/main.css", rel: "stylesheet" }
    %link{ href: "/css/media-queries.css", rel: "stylesheet" }
    %link{ href: "/vendor/fontawesome/css/font-awesome.min.css", rel: "stylesheet" }
    %script{src:"/js/jquery.js"}
  %body

    %button.nav-btn.hide{ href:"javascript:void(0)",onclick:"$('nav ul').fadeToggle(0)" }
      %i.fa.fa-bars
    %nav
      .row-fluid
        .span2.logo
          %a{ href: "/" }
            %img{ src:"/img/donacoin_logo_complete.png" }
        .span8
          %ul
            %li
              %a{ href: "/download" }
                %i.fa.fa-download
                Download
            %li
              %a{ href: "/causes"   } Causes
            %li
              %a{ href: "/donors"   } Donors
            %li
              %a{ href: "/guide"   } Guide
    .separator30
    .separator15
    .content
      = yield
    %footer
      %ul.row-fluid
        %li
          Copyright © Donacoin #{Time.now.year} &nbsp;&nbsp;&nbsp;
        %li
          %a{ href: "/terms" } Terms and conditions &nbsp;&nbsp;&nbsp;
        %li
          %a{ href: "/privacy" } Privacy &nbsp;&nbsp;&nbsp;
        %li
          %a{ href: "/contacts" } Contacts
        %li.pull-right
          %a.desktop.muted{ href:"http://bitcoin.org", target:"_blank" }
            We
            %i.fa.fa-heart
            %i.fa.fa-bitcoin
