!!!
%html
  :css
    /* todo: move in sass file :D */
    a {
      text-decoration: none;
    }
    a:hover {
      text-decoration: underline;
    }
    .clear {
      clear: both;
    }
    .container {
      width: 85%;
      margin: 0 auto;
    }
    body > h1, a {
      color: darkGreen;
    }
    .container > h1 img {
      width: 40px;
    }
    .btn{
      color: green;
      padding: 20px;
    }
    .btn.big{
      font-size: 2em;
      background: green;
      color: white;
    }
    .causes {
      display: block;
    }
    .causes .cause {
      width: 30%;
      /*display: inline-block;*/
      float: left;
      color: darkGreen;
      background: paleGreen;
      margin-right: 2%
    }

  %head
    %title DonaCoin - No-cost donations

  %body
    .container
      %h1
        %a{ href: "/" }
          %img{ src: "/img/donacoin_icon.png" }
          %span DonaCoin
      .content
        = yield