!!!
%html
  %head
    %title DonaCoin - No-cost donations
    %link{ href: "/css/main.css", rel: "stylesheet" }
    %link{ href: "/css/media-queries.css", rel: "stylesheet" }
    %link{ href: "/vendor/fontawesome/css/font-awesome.min.css", rel: "stylesheet" }
    %script{src:"http://code.jquery.com/jquery-1.10.1.min.js"}
  %body
  
    %button.nav-btn.hide{ href:"javascript:void(0)",onclick:"$('nav ul').fadeToggle(0)" }
      %i.fa.fa-bars
    %nav
      .row-fluid
        .span2.logo
          %a
            %img{ src:"/img/logo.png" }
        .span8
          %ul
            %li
              %a{ href: "/download" } 
                %i.fa.fa-download
                Download
            %li
              %a{ href: "/causes"   } Causes
            %li
              %a{ href: "/users"    } Users
            %li
              %a{ href: "/guides"   } Guides
    .separator30
    .separator30
    .content  
      = yield
    %footer
      .span2.centered-content  
        Copyright © Donacoin 2014
      .span8.centered-content
        .span2
          %a terms and conditions
        .span1
          %a privacy
        .span1
          %a contacts
        .span2.pull-right
          %a.muted{href:"http://bitcoin.org",target:"_blank"}
            We
            %i.fa.fa-heart
            %i.fa.fa-bitcoin