.page.row-fluid.highlight
  .span7.page-left.blank
    .row-fluid
      %h1 Privacy
      .hr
      %p We don't collect datas in any way, there is no datas sent to the server from the client except the username and the donation speed.
      %p Be sure to download the Donacoin client directly from
      %a{ href: "http://donacoin.com" } http://donacoin.com 
      this will ensure that the code that you are running on your machine is
      %a{ href: "http://github.com/makevoid/donacoin" } open source 
      and no unwanted datas are sent out.
  .span3.page-right.blank
    .row-fluid
      .row-fluid
        %h4.muted
          %i.fa.fa-angle-down.muted
          More about
        .hr
        = haml :_infos_main
        .separator15


  