.page.row-fluid.highlight
  .span7.page-left.blank
    .row-fluid
      %h1 Terms
      .hr
      %p We are not liable to any damage made at the machines running the Donacoin software. We set a default mining value by the half of your machine physical cores or less. Be always aware of your CPU / GPU temperature, especially in summer! Keep your machines cooled well if you want to maximize donations, remember laptops are not always designed to be at full load / heat, we recommend not going over 70% of the speed with them.
      %p Always try to keep all your computer temperatures under 70° C. This is very recommended and will improve your system's life.
  .span3.page-right.blank
    .row-fluid
      .row-fluid
        %h4.muted
          %i.fa.fa-angle-down.muted
          More about
        .hr
        = haml :_infos_main
        .separator15