::-webkit-input-placeholder { color:#777; opacity:1; }
::-moz-placeholder { color:#777; opacity:1; }
*,*:hover,*:focus {
list-style: none;
outline:none;
text-decoration:none;
font-family: 'HelveticaNeue', Helvetica, Arial, sans-serif;
}
html,body {
background-color:#fff;
font-size:14px;
letter-spacing:0px;
margin:0 auto;
padding:0;
height: 100%;
min-height:100%;
width:100%;
color:#111;
line-height: 1.3;
letter-spacing: 0.5px;
}	
a{
color:#FB1657;
}a:hover{
color:#B81249;
}
a,button{
cursor: pointer;
text-decoration: none;
margin:0;
padding:0;
font-size: inherit;
}
small{
font-size: 12px;
}
i{
font-size: inherit;
}
h1,h2,h3,h4,h5,h6{
margin:10px 0;
}
h1{
font-size: 26px;
line-height: 28.5px;
font-weight:500;
}h2{
font-size:21px;
line-height: 22.5px;
font-weight:500;
}h3{
font-size:18.5px;
line-height: 19.5px;
font-weight:500;
}h4{
font-size:16.5px;
line-height: 17.5px;
font-weight:500;
}
.blank{
background-color:#fff;
}
.slogan{
font-size: 38px;
line-height: 42px;
text-align: center;
}
.hr{
height: 0px;
margin:0 0 0 0;
clear: both;
float: none;
max-height: 0px;
border-top:1px solid rgba(0,0,0,0.1);
border-bottom: 1px solid rgba(255,255,255,0.9);
}
.toggle-opacity{
opacity:0.65;
}.toggle-opacity:hover{
opacity:1;
}
.hide{
display:none;
}.show{
display: inherit;
}
.highlight{
background-color: #F4F6F6;
}
.well{
padding:3% 0;
box-shadow:0px 0px 0px 1px #ddd;
}
.pull-right{
float:right;
}.pull-left{
float:left;
}
.centered-content{
text-align: center;
}.left-content{
text-align: left;
}.right-content{
text-align:right;
}
.muted{
color:rgba(0,0,0,0.45);
}
.separator5,.separator10,.separator15,.separator30{
min-height: 5px;
clear:both;
width:100%;
}.separator10{
min-height: 10px;
}.separator15{
min-height: 15px;
}.separator30{
min-height: 30px;
}
.row-fluid{
-webkit-box-sizing: border-box;
-moz-box-sizing: border-box;
-ms-box-sizing: border-box;
box-sizing: border-box;
width: 100%;
float: left;
clear:right;
padding:0 2% 0 2%;
}
.span0,.span1,.span2,.span3,.span3x3,.span4,.span5,.span6,.span7,.span8,.span9,.span10{
float: left;
vertical-align: top;
}
.span0{}
.span1{
width:10%;
}.span2{
width:20%;
}.span3{
width:30%;
}.span3x3{
width:33.22222222%;
}.span4{
width:40%;
}.span5{
width:50%;
}.span6{
width:60%;
}.span7{
width:70%;
}.span8{
width:80%;
}.span9{
width:90%;
}.span10{
width:100%;
}
.page{
background: #F4F6F6;
}
.page-right{
background:#84ECFE;
width:29%;
margin:20px 0;
color:#075668;
}.page-left{
width:70%;
margin:20px 0;
margin-right:1%;
padding-bottom:15px;
box-shadow:0px 0px 0px 1px #ddd;
}
.page-right .hr{
border-bottom:1px solid rgba(255,255,255,0.3);
border-top:1px solid rgba(0,0,0,0.12);
}
.willy{
line-height: 1.3;
background: #84ECFE;
margin: 0 auto;
width: 100%;
clear: both;
}
nav{
background:#4A4347;
position: fixed;
z-index:99;
top:0;
min-width: 100%;
height:40px;
line-height: 18px;
padding:7px 0 5px 0 ;
}
nav ul li {
display: inline;
}nav ul li a{
font-size:14.5px;
padding:0 2%;
color:#fff;
}nav ul li a:hover,nav ul li a.active{
color:#FC224A;
}
.nav-btn{
position: fixed;
z-index:999;
top:0;
font-size: 25px;
right:0;
background: #fefefe;
color:#000;
border:none;
line-height: 45px;
padding:3.5px 15px;
}
.logo{
max-width: 130px;
float: left;
}
footer{
font-size: 10px;
line-height: 20px;
clear:both;
text-transform: uppercase;
border-top:1px solid #ddd;
}
footer ul li{
display: inline;
padding-bottom:7px;
}
.btn{
margin:0 auto;
padding:5px 3%;
font-size: 15px;
border:none;
background:#EAF1EF ;
width: 100%;
border-radius:3px;
-webkit-border-radius:3px;
-moz-border-radius:3px;
-o-border-radius:3px;
-ms-border-radius:3px;
}
.btn:hover:focus,.btn:focus,.btn:focus:hover,.btn:active,.btn:hover:active{
-webkit-box-shadow: 1px 1px 1.5px 0px rgba(0,0,0,0.1) inset;
box-shadow:1px 1px 1.5px 0px rgba(0,0,0,0.1) inset;
opacity:1;
}.btn:hover{
opacity:0.7;
}
.btn-small{
padding:3px 2%;
font-size: 13px;
}
.btn-option{
border-radius:20px;
background: #fff;
}
.btn-medium{
font-size:17px;
padding:11.5px 2%;
}
.btn-big{
padding-top:15px ;
padding-bottom:12px ;
font-size:23px;
}
.btn-primary{
background: #FC224A;
box-shadow:0px 0px 0px 1px rgba(0,0,0,0.15) inset;
color:#fff;
}.btn-primary:hover{
color:#fff;
};